@model Internship.Models.CptApplication

<br />
<br />
<div class="container">
    <form method="post">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmployerId)
        @Html.HiddenFor(model => model.EmploymentAgreementId)
        @Html.HiddenFor(model => model.StudentId)

        <div class="row">

            <div class="form-group">

                @Html.Partial("_HeaderPartial")
                <h5 class="text-center m-b-20">F-1 Curricular Practical Training (CPT) Information and Request Form</h5>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#student">Student Information</a></li>
                    <li><a data-toggle="tab" href="#employment">Employment Information</a></li>
                    <li><a data-toggle="tab" href="#advisor">Advisor Information</a></li>
                </ul>

                <div id="student" class="tab-pane fade in active well">
                    <div class="col-md-4">
                        Student First Name:
                        <input type="text" name="Student.FirstName" value="@Model.Student.FirstName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        Middle Name:
                        <input type="text" name="Student.MiddleName" value="@Model.Student.MiddleName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        Last Name:
                        <input type="text" name="Student.LastName" value="@Model.Student.LastName" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Degree:
                        <input type="text" name="Student.Degree" value="@Model.Student.Degree" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Major:
                        <input type="text" name="Student.Major" value="@Model.Student.Major" class="form-control" />
                    </div>
                </div>

                <div id="employement" class="tab-pane fade well">
                    <div class="col-md-12">
                        Employer Name:
                        <input type="text" name="Employer.EmployersName" value="@Model.Employer.EmployersName" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Number of Hours per Week:
                        <input type="text" name="EmploymentAgreement.HoursPerWeek" value="@Model.EmploymentAgreement.HoursPerWeek" style="padding-left:70px;" />
                    </div>

                    <div class="col-md-6">
                        Position Title:
                        <input type="text" name="EmploymentAgreement.JobTitle" value="@Model.EmploymentAgreement.JobTitle" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Date of employment from:
                        <input type="text" value="@Model.StartDate.ToString(" MM/dd/yyyy")" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        To:
                        <input type="text" value="@Model.EndDate.ToString("MM/dd/yyyy")" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Description of proposed employment:
                        <input type="text" name="EmploymentAgreement.DescriptionOfEmployment" value="@Model.EmploymentAgreement.DescriptionOfEmployment" class="form-control" />
                    </div>
                </div>
                <div class="text">
                    <b>CPT Recommendation is based on the following </b>(check only one):
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="form-control" />
                </div>
                <div class="col-md-11">
                    The CPT employment is a mandatory graduation requirement for all students in the program, not just for this student.
                    I have attached a copy of the school publication verifying that this is mandatory.

                </div>

                <div class="col-md-1">
                    <input type="checkbox" class="form-control" />
                </div>
                <div class="col-md-11">
                    The CPT employment is an integral part of the student’s academic program of study/curriculum for which he or she will receive academic credit.
                </div>

                <div id="advisor" class="tab-pane fade well">
                    <div class="col-md-6">
                        Course:
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Academic Term:
                        <input type="text" nvalue="@Model.InternshipSemester" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        First Name:
                        <input type="text" name="Advisor.FirstName" value="@Model.Advisor.FirstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Last Name:
                        <input type="text" name="Advisor.LastName" value="@Model.Advisor.LastName" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Phone:
                        <input type="text" name="Advisor.CellPhone" value="@Model.Advisor.CellPhone" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Email:
                        <input type="text" name="Advisor.Email" value="@Model.Advisor.Email" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        Date:
                        <input type="text" value="@Model.DateSignedByAcademicAdvisor" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>



