
@model List<Internship.Models.CptApplication>
@{
    ViewData["Title"] = "Advisor";
}

@ViewBag.Message
@if (Model.Count == 0)
{
    <div class="text-center">
        <img src="https://cdn4.iconfinder.com/data/icons/Isloo_icons_by_IconFinder/128/inbox_empty.png" />
        <h4>Clean slate! You have no forms to take care of!</h4>
    </div>

}
else
{

<h2>Instructor </h2> <br /><br />
<h4>Your forms </h4>
<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Accept</th>
        <th>Reject</th>
        <th>Application</th>
    </tr>

    @foreach (var application in Model)
    {
        <tr>
            <td>@application.Student.Email</td>
            <td>@application.Student.FullName </td>
            <td>@Html.ActionLink("Accept", "Accept", "Dashboard", new { id = @application.Id, signedBy = "Instructor" }, new { @class = "btn btn-success" })</td>
            <td>@Html.ActionLink("Reject", "Reject", "Dashboard", new { id = @application.Id, signedBy = "Instructor" }, new { @class = "btn btn-danger" })</td>
            <td>@Html.ActionLink("View Application", "StudentCPTApplicationDetails", "Dashboard", new { id = application.Id, viewedBy = "Instructor" }, new { @class = "btn btn-primary" })</td>
        </tr>
    }


</table>

}