
@model Internship.Models.CptApplication
@{
    ViewData["Title"] = "StudentCPTApplicationDetail";
}
<br />
<br />
<div class="container">
    <form method="post">

        <h3 class="text-center m-b-20">Southeastern Louisiana University
        <br />Application for Industrial Internship</h3>

        <div class="tab-content">
            <div id="student" class="tab-pane fade in active well">
                <table class="table">

                    <tr><td><h3>Student Information</h3></td></tr>
                    <tr><th>Name</th><td>@Model.Student.FullName</td></tr>
                    <tr><th>WNumber</th><td>@Model.Student.WNumber</td></tr>
                    <tr><th>Email</th><td>@Model.Student.Email</td></tr>
                    <tr><th>Degree</th><td>@Model.Student.Degree</td></tr>
                    <tr><th>Concentration</th><td>@Model.Student.Concentration</td></tr>
                    <tr><th>CellPhone</th><td>@Model.Student.CellPhone</td></tr>
                    <tr><th>HomePhone</th><td>@Model.Student.HomePhone</td></tr>
                    <tr>
                        <th>Current Address</th>
                        <td>
                            @Model.Student.CurrentAddress.AddressLine1 @Model.Student.CurrentAddress.AddressLine2 <br />
                            @Model.Student.CurrentAddress.City @Model.Student.CurrentAddress.State  @Model.Student.CurrentAddress.Zip
                        </td>
                    </tr>
                    <tr>
                        <th>Permanent Address</th>
                        <td>
                            @Model.Student.PermanentAddress.AddressLine1 @Model.Student.PermanentAddress.AddressLine2 <br />
                            @Model.Student.PermanentAddress.City @Model.Student.PermanentAddress.State  @Model.Student.PermanentAddress.Zip
                        </td>
                    </tr>
                  

                    <tr><td><h3>Employer Information</h3></td></tr>
                    <tr><th>Employer Name</th><td>@Model.Employer.EmployersName</td></tr>
                    <tr>
                        <th>Employer Address</th>
                        <td>
                            @Model.Employer.EmployersAddress.AddressLine1 @Model.Employer.EmployersAddress.AddressLine2 <br />
                            @Model.Employer.EmployersAddress.City @Model.Employer.EmployersAddress.State  @Model.Employer.EmployersAddress.Zip
                        </td>
                    </tr>

                    <tr><th><h3>Supervisor Information</h3></th></tr>
                    <tr><th>Supervisor Name</th><td>@Model.Supervisor.FullName</td></tr>
                    <tr><th>Supervisor Email</th><td>@Model.Supervisor.Email</td></tr>
                    
                    <tr><th><h3>Job Description</h3></th></tr>
                    <tr><th>Start Date</th><td>@Model.StartDate.ToString(" MM/dd/yyyy")</td></tr>
                    <tr><th>End Date</th><td>@Model.EndDate.ToString(" MM/dd/yyyy")</td></tr>
                    <tr><th>Job Title</th><td>@Model.EmploymentAgreement.JobTitle</td></tr>
                    <tr><th>Job Responsibilities</th><td>@Model.EmploymentAgreement.JobResponsibilities</td></tr>





                </table>


            </div>
        </div>


    </form>
</div>

