@model Internship.Models.CptApplication


<br />
<br />
<div class="container">
    <form method="post">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmployerId)
        @Html.HiddenFor(model => model.EmploymentAgreementId)
        @Html.HiddenFor(model => model.StudentId)

        <div class="row">

            <div class="form-group">

                @Html.Partial("_HeaderPartial")
                <div class="text-center">
                    <h4><b><u>F-1 Curricular Practical Training (CPT) Information and Request Form </u></b></h4>
                </div>

                <br /><br />

                <div class="col-md-4">
                    Student First Name:
                    <input type="text" value="@Model.Student.FirstName" class="form-control" />
                </div>
                <div class="col-md-4">
                    Middle Name:
                    <input type="text" value="@Model.Student.MiddleName" class="form-control" />
                </div>
                <div class="col-md-4">
                    Last Name:
                    <input type="text" value="@Model.Student.LastName" class="form-control" />
                </div>

                <br /> <br /> <br /> <br /> 

                <div class="col-md-6">
                    Degree:
                    <input type="text" value="@Model.Student.Degree" class="form-control" />
                </div>
                <div class="col-md-6">
                    Major:
                    <input type="text" value="@Model.Student.Major" class="form-control" />
                </div>
                
                <br /><br />

                <div class="col-md-12">
                    Employer Name:
                    <input type="text" value="@Model.Employer.EmployersName" class="form-control" />
                </div>

                <br /><br /><br /><br />
                
                <div class="col-md-6">
                    Number of Hours per Week:
                    <input type="text" value="@Model.EmploymentAgreement.HoursPerWeek" style="padding-left:70px;" />
                </div>

                <div class="col-md-6">
                    Position Title:
                    <input type="text" value="@Model.EmploymentAgreement.JobTitle" class="form-control" />
                </div>

                <br /> <br /> <br /> <br />

                <div class="col-md-6">
                    Date of employment from:
                    <input type="text" value="@Model.StartDate.ToString(" MM/dd/yyyy")" class="form-control" />
                </div>

                <div class="col-md-6">
                    To:
                    <input type="text" value="@Model.EndDate.ToString("MM/dd/yyyy")" class="form-control" />
                </div>

                <br /> <br /> <br /> <br />  
                
                <div class="col-md-6">
                    Description of proposed employment:
                    <input type="text" value="@Model.EmploymentAgreement.DescriptionOfEmployment" class="form-control" />
                </div>

                <br /> <br /> <br /> <br />

                <div class="text">
                    <b>CPT Recommendation is based on the following </b>(check only one): 
                </div>
                <div class="col-md-1">                  
                    <input type="checkbox" class="form-control" />
                </div>
                <div class="col-md-11">
                    The CPT employment is a mandatory graduation requirement for all students in the program, not just for this student. 
                    I have attached a copy of the school publication verifying that this is mandatory. 
                    
                </div>

                <br /> <br /> <br /> <br /> 

                <div class="col-md-1">
                    <input type="checkbox" class="form-control" />
                </div>
                <div class="col-md-11">
                    The CPT employment is an integral part of the student’s academic program of study/curriculum for which he or she will receive academic credit.
                </div>

                <div class="col-md-6">
                    Course:
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    Academic Term:
                    <input type="text" value="@Model.InternshipSemester" class="form-control" />
                </div>
                
                <br /> <br /> <br /> <br />

                <div class="col-md-12">
                    Academic Advisor Name:
                    <input type="text" value="@Model.Advisor.FullName" class="form-control" />
                </div>

                <br /> <br /> <br /> <br />

                <div class="col-md-6">
                    Phone:
                    <input type="text" value="@Model.Advisor.CellPhone" class="form-control" />
                </div>                
                <div class="col-md-6">
                    Email:
                    <input type="text" value="@Model.Advisor.Email" class="form-control" />
                </div>

                <br /> <br /> <br /> <br />

                <div class="col-md-6">
                    Signature:
                    <input type="text" value="@Model.IsSignedByAcademicAdvisor" class="form-control" />
                </div>
                <div class="col-md-6">
                    Date:
                    <input type="text" value="@Model.DateSignedByAcademicAdvisor" class="form-control" />
                </div>







            </div>
        </div>

        </form>
    </div>


                
