@model Internship.Models.CptApplication
@{
    ViewData["Title"] = "New Application";
}
<br />
<br />
<div class="container">
    <form method="post">

        @Html.Partial("_HeaderPartial")
        <h5 class="text-center m-b-20">Application for Industrial Internship</h5>


        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#student">Strudent Information</a></li>
            <li><a data-toggle="tab" href="#employer">Employer Information</a></li>
            <li><a data-toggle="tab" href="#job">Job Information</a></li>
            <li><a data-toggle="tab" href="#finish">Finish and Submit</a></li>
        </ul>

        <div class="tab-content">
            <div id="student" class="tab-pane fade in active well">
<<<<<<< Updated upstream
                <div>
                    <div>
                        <div class="row">
                            <div class="col-md-3">
                                Student First Name:
                                <input type="text" value="@Model.Student.FirstName" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                Middle Name:
                                <input type="text" value="@Model.Student.MiddleName" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                Last Name:
                                <input type="text" value="@Model.Student.LastName" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                WNumber:
                                <input type="text" value="@(Model.Student.WNumber == 0 ? string.Empty : Model.Student.WNumber.ToString())" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                Email:
                                <input type="email" value="@Model.Student.Email" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Degree:
                                <input type="text" value="@Model.Student.Degree" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                Concentration:
                                <input type="text" value="@Model.Student.Concentration" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Cell Phone:
                                <input type="text" value="@Model.Student.CellPhone" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                Home Phone:
                                <input type="text" value="@Model.Student.HomePhone" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" value="@Model.Student.CurrentAddressId" />
                                Present Address:
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" value="@Model.Student.CurrentAddress.AddressLine1" class="form-control" placeholder="Street Address" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" value="@(Model.Student.CurrentAddress.Zip == 0 ? string.Empty : Model.Student.CurrentAddress.Zip.ToString())" class="form-control" placeholder="Zip" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.Student.CurrentAddress.City" class="form-control" placeholder="City" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.Student.CurrentAddress.State" class="form-control" placeholder="State" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" value="@Model.Student.PermanentAddress" />
                                Permanent Address:
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" value="@Model.Student.PermanentAddress.AddressLine1" class="form-control" placeholder="Street Address" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" value="@(Model.Student.PermanentAddress.Zip == 0 ? string.Empty : Model.Student.PermanentAddress.Zip.ToString())" class="form-control" placeholder="Zip" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.Student.PermanentAddress.City" class="form-control" placeholder="City" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" value="@Model.Student.PermanentAddress.State" class="form-control" placeholder="State" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="employer" class="tab-pane fade well">
                <div class="row">
                    <div class="col-md-6">
                        Employer:
                        <input type="text" value="@Model.Employer.EmployersName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Employer Address:
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="@Model.Employer.EmployersAddress.AddressLine1" class="form-control" placeholder="Street Address" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@(Model.Employer.EmployersAddress.Zip == 0 ? string.Empty : Model.Employer.EmployersAddress.Zip.ToString())" class="form-control" placeholder="Zip" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" value="@Model.Employer.EmployersAddress.City" class="form-control" placeholder="City" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" value="@Model.Employer.EmployersAddress.State" class="form-control" placeholder="State" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        Supervisor's Name:
                        <input type="text" value="@Model.Supervisor.FirstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Supervisor's Email:
                        <input type="text" value="@Model.Supervisor.Email" class="form-control" />
                    </div>
                </div>
            </div>
            <div id="job" class="tab-pane fade well">
                <div class="row">
                    <div class="col-md-6">
                        Start Date:
                        <input type="text" value="@Model.StartDate.ToString(" MM/dd/yyyy")" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        End Date:
                        <input type="text" value="@Model.EndDate.ToString(" MM/dd/yyyy")" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Job Title:
                        <input type="text" value="@Model.EmploymentAgreement.JobTitle" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Job Responsibilities:
                        <textarea class="form-control">@Model.EmploymentAgreement.JobResponsibilities</textarea>
                    </div>
                </div>
=======
                <table class="table">
                    <tr><th>Name</th><td>@Model.Student.FullName</td></tr>
                    <tr><th>WNumber</th><td>@Model.Student.WNumber</td></tr>
                    <tr><th>Email</th><td>@Model.Student.Email</td></tr>
                    <tr><th>Degree</th><td>@Model.Student.Degree</td></tr>
                    <tr><th>Concentration</th><td>@Model.Student.Concentration</td></tr>
                    <tr><th>CellPhone</th><td>@Model.Student.CellPhone</td></tr>
                    <tr><th>HomePhone</th><td>@Model.Student.HomePhone</td></tr>
                    <tr>
                        <th>Current Address</th>
                        <td>
                            @Model.Student.CurrentAddress.AddressLine1 @Model.Student.CurrentAddress.AddressLine2 <br />
                            @Model.Student.CurrentAddress.City @Model.Student.CurrentAddress.State  @Model.Student.CurrentAddress.Zip
                        </td>
                    </tr>
                    <tr>
                        <th>Permanent Address</th>
                        <td>
                            @Model.Student.PermanentAddress.AddressLine1 @Model.Student.PermanentAddress.AddressLine2 <br />
                            @Model.Student.PermanentAddress.City @Model.Student.PermanentAddress.State  @Model.Student.PermanentAddress.Zip
                        </td>
                    </tr>

                </table>
                <button class="btn btn-success" data-toggle="tab" href="#employer">Looks good, continue.</button>
                <a href="~/profile/edit" class="btn btn-danger">No, edit my info</a>
            </div>

                    <div id="employer" class="tab-pane fade well">
                        <div class="row">
                            <div class="col-md-6">
                                Employer:
                                <input type="text" name="Employer.EmployersName" value="@Model.Employer.EmployersName" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Employer Address:
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="Employer.EmployersAddress.AddressLine1" value="@Model.Employer.EmployersAddress.AddressLine1" class="form-control" placeholder="Street Address" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" name="Employer.EmployersAddress.Zip" value="@(Model.Employer.EmployersAddress.Zip == 0 ? string.Empty : Model.Employer.EmployersAddress.Zip.ToString())" class="form-control" placeholder="Zip" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="Employer.EmployersAddress.City" value="@Model.Employer.EmployersAddress.City" class="form-control" placeholder="City" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="Employer.EmployersAddress.State" value="@Model.Employer.EmployersAddress.State" class="form-control" placeholder="State" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                Supervisor's Name:
                                <input type="text" name="Supervisor.FirstName" value="@Model.Supervisor.FirstName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                Supervisor's Email:
                                <input type="text" name="Supervisor.Email" value="@Model.Supervisor.Email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div id="job" class="tab-pane fade well">
                        <div class="row">
                            <div class="col-md-6">
                                Start Date:
                                <input type="text" name='StartDate.ToString(" MM/dd/YYYY")' value="@Model.StartDate.ToString(" MM/dd/yyyy")" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                End Date:
                                <input type="text" name='EndDate.ToString(" MM/dd/YYYY")' value="@Model.EndDate.ToString(" MM/dd/yyyy")" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                Job Title:
                                <input type="text" name="EmploymentAgreement.JobTitle" value="@Model.EmploymentAgreement.JobTitle" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                Job Responsibilities:
                                <textarea class="form-control" name="EmploymentAgreement.JobResponsibilities">@Model.EmploymentAgreement.JobResponsibilities</textarea>
                            </div>
                        </div>
>>>>>>> Stashed changes

                    </div>

                    <div id="finish" class="tab-pane fade well">

                        By clicking submit, you agree to the terms and conditions of electonic form submission.
                        <div class="m-t-20">
                            <button class="btn btn-success">Submit Form</button>
                        </div>


                    </div>
                </div>


</form>
</div>