@model Internship.Models.User

<h2>User</h2>

<div class="row">
    <div class="col-md-6">

        <form action="~/UserManagement/Save" method="post">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CurrentAddressId)
            @Html.HiddenFor(model => model.PermanentAddressId)
            First Name:
            <input type="text" name="FirstName" value="@Model.FirstName" class="form-control" /> <br />
            Middle Name:
            <input type="text" name="MiddleName" value="@Model.MiddleName" class="form-control" /> <br />
            Last Name:
            <input type="text" name="LastName" value="@Model.LastName" class="form-control" /> <br />
            Email:
            <input type="email" name="Email" value="@Model.Email" class="form-control" /> <br />

            <input type="hidden" name="Password" value="@Model.Password" class="form-control" /> <br />
            @*Current Address:
            <input type="text" name="CurrentAddress.AddressLine1" value="@Model.CurrentAddress.AddressLine1" class="form-control" /> <br />
            <input type="text" name="CurrentAddress.Zip" value="@Model.CurrentAddress.Zip" class="form-control" /> <br />
            <input type="text" name="CurrentAddress.City" value="@Model.CurrentAddress.City" class="form-control" /> <br />
            Permanent Address:
            <input type="text" name="PermanentAddress.AddressLine1" value="@Model.CurrentAddress.AddressLine1" class="form-control" /> <br />
            <input type="text" name="PermanentAddress.Zip" value="@Model.CurrentAddress.Zip" class="form-control" /> <br />
            <input type="text" name="PermanentAddress.City" value="@Model.CurrentAddress.City" class="form-control" /> <br />*@
            Cell Phone:
            <input type="text" name="CellPhone" value="@Model.CellPhone" class="form-control" /> <br />

            User Type:
            <select name="UserType" id="UserType" class="form-control">
                <option value="1">Student</option>
                <option value="2">Instructor</option>
                <option value="3">AcademicAdvisor</option>
                <option value="4">Department</option>
                <option value="5">Dean</option>
                <option value="6">Supervisor</option>
            </select>
            <br />

            <script>
        document.getElementById("UserType").value = @Model.UserType;
            </script>
            <input type="submit" value="Save" class="btn btn-success" />
        </form>
    </div>
</div>
