@model Internship.Models.User


<br />
<br />
<br />

<form action="~/User/Save" method="post">

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label>First name:</label>
        <input type="text" name="FirstName" value="@Model.FirstName" />
    </div>

    <div class="form-group">
        <label>Last name:</label>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div class="form-group">
        <label>Email:</label>
        @Html.TextBoxFor(m => m.Email)
    </div>

    <div class="form-group">
        <label>Password:</label>
        @Html.TextBoxFor(m => m.Password)
    </div>

    <br />

    <h4>Current Address</h4>
        @Html.HiddenFor(m => m.CurrentAddressId)
        @Html.HiddenFor(m => m.CurrentAddress.Id)
    <div class="form-group">
        <label>Street Address:</label>
        @Html.TextBoxFor(m => m.CurrentAddress.AddressLine1)
    </div>
    <div class="form-group">
        <label>Zip:</label>
        @Html.TextBoxFor(m => m.CurrentAddress.Zip)
    </div>



    <h4>Permanent Address</h4>
     @Html.HiddenFor(m => m.PermanentAddressId)
     @Html.HiddenFor(m => m.PermanentAddress.Id)
    <div class="form-group">
        <label>Street Address:</label>
        @Html.TextBoxFor(m => m.PermanentAddress.AddressLine1)
    </div>
    <div class="form-group">
        <label>Zip:</label>
        @Html.TextBoxFor(m => m.PermanentAddress.Zip)
    </div>



    <input type="submit" value="Save" />









</form>
